@model FinancialTrackerMVC.Models.Bills.BillsCreate

@{
    ViewData["Title"] = "Create";
}
@* @using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <b>Select Bill Type: </b>

} *@

<h1>Create</h1>

<h4>Bill</h4>
<hr/>
<div class="row">
<div class="col-md-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="debtorName" class="control-label"></label>
            <input asp-for="debtorName" class="form-control" />
            <span asp-validation-for="debtorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="id" class="control-label"></label>
            @Html.DropDownListFor(model => model.subBill, (SelectList)ViewBag.SubDebtorType)
            <input type="submit" value="submit"/>
            <h4>You Selected</h4>
            <b>Bill Type: </b>@ViewBag.SubDebtorType
            <span asp-validation-for="id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Bill" class="btn btn-primary" />
        </div>
    </form>
</div>
</div>
<div>
    <a class="action-links" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 @* new SelectList(Enum.GetValues(typeof(SubDebtorType))),"Select one...") *@
 @* Model.debtorName, "Select One..." *@
 @* (SelectList)ViewBag.SubDebtorType, new { @BillsCreate = "for,-control" } *@