@model IEnumerable<FinancialTrackerMVC.Models.Bills.BillsDetail>

    <h1 class="text-center">All Bills</h1>
    <a href="/bills/create" class="text-primary">Create a Bill</a>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Debtor Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bills in Model)
            {
                <tr>
                    <td>@bills.debtorName</td>
                </tr>
            }
        </tbody>
    </table>