@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Financial Tracker MVC</h1>
    @Html.ActionLink("Register", "Account/Register")
</div>
@* , htmlAttributes: new { @class="btn btn-primary", @role="button" } *@
